<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="connection.css" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>

    <div id="login-body">
            <h1>S'identifier</h1>

            <form method="post" id="formulaire">
                <input id="identifiant" type="text" name="identifiant" placeholder="Identifiant" required />
                <input id="motDePasse" type="password" name="password" placeholder="Mot de passe" required />
                <button id="boutonSubmit" type="submit">S'identifier</button>
            </form>
    </div>
    
</body>
</html>