<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="training.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <nav class="menuHead">
        <ul class="menuHead2">
            <li id="liste1" > <a href="#maPhoto"> Le Site Du Loup </a> </li>
            <li id="liste1" > <a href="#Partie2"> seConnecter  </a> </li>
            <li id="liste1" > <a href="#Partie3"> Service  </a> </li>
            <li id="liste1" > <a href="#Partie4"> Github </a> </li>
        </ul>
    </nav>
    <div id="maPhoto">
        <img class="imageStyle" src="picture/photoMontagne.jpg">
    </div>
    <div id="Partie1">
        <h1 class="titre"> A propos de moi </h1>
        <div class="separation"> </div>
        <p class="Paragraphe"> 
            Bonjour , je suis Loup Salomé , étudiant à l'IUT de Rodez  et je suis passionné par le développement backend et l'administration
            système. J'aime créer des applications web , capable de répondre à des besoins immédiats , sans avoir besoin de se préocupper de la moindre
            configuration sur la machine locale. <br> <br> J'ai souhaité  me lancer un défi , et  construire un site web en utilisant uniquement apache2 et PHP
            en administrant mon serveur à la ligne de commande avec mes propres scripts bash. Je souhaite créer une plateforme qui pourra fournir de nombreux services
            (étudiants , entrepreneurs etc ...) , via plusieurs services , comme un chat , un hébergeur FTP , un éditeur LaTeX intégré ainsi qu'un éditeur de markdown 
            pour que les utilisateurs soient en mesure de prendre des notes. <br> <br> Ils pourront également écrire des .md sur leur machine local et uploader les fichiers plus tard
            en cas d'absence de connexion internet momentanée. 

            <br> <br>

            Ce projet a pour vocation de s'étendre , et de proposer une multitude de services web. Il se peut que ce soit le début d'une grande
            aventure .. 
        </p>
    </div>
    <div id="Partie2">
        <h1 class="titre"> Espace membre  </h1>
        <div class="separation"> </div>

        <p class="Paragraphe"> 
            Pour ce premier portfolio j'ai crée un premier site avec une base de donnée. J ai cree un espace membre pour permettre
            a mes membres divers services , tel que le stockage de fichier , un système de chat , ainsi qu'un espace de note intégré 
            (inspiré de Notion ) pour pouvoir échanger des notes entre camarades de promo. 
        </p>
    </div>
    <div id="Partie3" > <h1 class="titre"> Service  </h1> 
        <div class="separation"> </div>
        <p class="Paragraphe"> 
            Pour le moment les services en cours de création sont le chat , et l'hébergeur de fichier. Il existe déjà un 
            espace membre avec 2 utilisateurs avec authentification via la base de donnée. 
        </p>
    </div>

    <div id="Partie4"> <h1 class="titre"> Lien vers mon Github  </h1>
        <div class="separation"> </div>
        <p class="Paragraphe"> 
            voici le lien vers mon github : <a href="https://github.com/456loup"> https://github.com/456loup </a>

        </p>
    </div>
    
</body>
</html>